@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* 
font-family: "Great Vibes", cursive; 
font-family: "Lato", sans-serif;
*/

:root {
  --font-great: "Great Vibes", cursive;
  --font-lato: "Lato", sans-serif;
  --color-yellow: #474554;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.home {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: #e0e0e0;
  z-index: -2;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.home-content p {
  font-family: var(--font-lato);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
  color: var(--color-yellow);
}

.home-content h1 {
  font-family: var(--font-great);
  font-size: 60px;
  color: var(--color-yellow);
}

.text-1 {
  margin-bottom: -20px;
}

.home-content h2 {
  font-family: var(--font-lato);
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color-yellow);
}

.home-content h2 strong {
  font-size: 28px;
}

.home-content h3 {
  font-family: var(--font-lato);
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-transform: capitalize;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-yellow);
}

.home-content a {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 10px 10px 20px #bebebe, -5px -5px 10px #ffffff;
  padding: 0 30px;
  height: 46px;
  font-weight: 600;
  color: var(--color-yellow);
}


.img1 {
  max-width: 400px;
  width: 100%;
  position: absolute;
  bottom: -100px;
  right: -100px;
  z-index: -1;
  transform: rotate(-35deg);
}

.img2 {
  max-width: 350px;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: -50px;
  left: -100px;
  transform: rotate(90deg);
}

/* responsive */
@media (max-width: 500px) {
  .img1 {
    max-width: 350px;
  }
  .img2 {
    max-width: 280px;
  }
}
