@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* 
font-family: "Great Vibes", cursive; 
font-family: "Lato", sans-serif;
*/

:root {
  --font-great: "Great Vibes", cursive;
  --font-lato: "Lato", sans-serif;
  --color-black: #353535;
  --color-background: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  position: relative;
  z-index: -3;
}

.home {
  max-width: 480px;
  width: 100%;
  background-color: var(--color-background);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 25px;
  position: relative;
  z-index: -2;
  overflow: hidden;
}

.home-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 26px;
  color: var(--color-black);
  position: relative;
  z-index: 2;
  opacity: 1;
  animation: upen 5s;
  animation-iteration-count: 1;
}

@keyframes upen {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

.home-content p {
  font-family: var(--font-lato);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.text-name h1 {
  font-family: var(--font-great);
  font-size: 60px;
}

.text-1 {
  margin-bottom: -26px;
}

.home-content h2 {
  font-family: var(--font-lato);
  font-size: 18px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.home-content h2 span {
  font-size: 32px;
}

.home-content h3 {
  font-family: var(--font-lato);
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.home-content a {
  font-family: var(--font-lato);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
  padding: 0 24px;
  height: 54px;
  color: var(--color-black);
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.home-content i{
  font-size: 22px;
}

.img1{
  position: absolute;
  z-index: -1;
  width: 400px;
  left: 0px;
  bottom: -120px;
  /* animation: resize 3s infinite; */
}

@keyframes resize {
  0%{width: 400px;}
  50%{width: 350px;}
  100%{width: 400px;}
}

.img2{
  position: absolute;
  z-index: -1;
  width: 300px;
  top: -100px;
  left: -100px;
  transform: rotate(90deg);
  /* animation: resize2 3s infinite; */
}

@keyframes resize2 {
  0%{width: 300px;}
  50%{width: 250px;}
  100%{width: 300px;}
}

.open-home{
  position: absolute;
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-background);
  z-index: 1;
  opacity: 0;
  animation: openbg 4s;
  animation-iteration-count: 1;
}

@keyframes openbg {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
